# Telegram
BOT_TOKEN=ваш_токен_от_BotFather
FAMILY_CHAT_IDS=[123456789, 987654321]   # Telegram ID всех членов семьи

# Obsidian
OBSIDIAN_VAULT_PATH=/путь/к/вашему/vault

OBSIDIAN_API_KEY=ключ_из_плагина_Local_REST_API
#  OBSIDIAN_API_KEY Берем в настройках плагина. 
#  Для локальной работы вполне подойдет "Enable Non-encrypted(HTTP) Server"(см. настройки плагина)
#  с адресом "http://127.0.0.1:27123/"
OBSIDIAN_API_URL=http://localhost:27123